body {
    background-color: #F9F8F9;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header {
    text-align: center;
    padding: 20px;
}

#products {
    grid-column: 1;
}

#cart {
    grid-column: 2;
}